.image {
  width: 100%;
  position: relative;
}

.imageContainer {
  overflow: hidden;
  border: 1px solid black;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.coverContainer {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 470px;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  text-align: center;
}

.rating p {
  font-size: 20px;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0px 5px 0px 5px;
}
